# Chave Openai API
OPENAI_API_KEY=coloque_sua_chave_aqui

# Embeddings
OPENAI_MODEL=text-embedding-3-small

# Chave Gemini
GOOGLE_API_KEY=coloque_sua_chave_aqui

# PGVector
PGVECTOR_URL=postgresql+psycopg://postgres:postgres@host.docker.internal:5436/rag
PGVECTOR_COLLECTION=gpt5_collection