# Chave Openai API
OPENAI_API_KEY=coloque_sua_chave_aqui
OPENAI_MODEL=gpt-5-nano
OPENAI_EMBEDDING_MODEL=text-embedding-3-small

# Chave Gemini
GOOGLE_API_KEY=coloque_sua_chave_aqui
GOOGLE_MODEL=gemini-2.5-flash-lite
GOOGLE_EMBEDDING_MODEL=models/gemini-embedding-001

# Define o provedor de LLM que será utilizado (openai ou google)
LLM_PROVIDER=openai

# PGVector
PGVECTOR_URL=postgresql+psycopg://postgres:postgres@localhost:5436/rag
PGVECTOR_COLLECTION=gpt5_collection

# Tamanho de Chunk e Overlaps
CHUNK_SIZE=1000
CHUNK_OVERLAP=150